

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #34c94b; 
    color: #fff; 
    padding: 10px 20px;
    width: 100%;
    height: 74px;
  }
  
  .logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    
  }
  
  .QtifyLogo {
    width: 54px; /* Adjust the width of the headset image */
    height: 48x; /* Adjust the height of the headset image */
    position: absolute;
    top: 60%; /* Adjust the top position */
    left: -5px; /* Adjust the left position */
    right: 30px;
    transform: translateY(-70%); /* Center the image vertically */
  }

  .QtifyText {
    font-size: 18px; /* Adjust the font size of the "Qtify" text */
    font-weight: bold; /* Adjust the font weight if needed */
    right:10px;

  }